base58==2.1.1; python_version >= "3.6" and python_version < "4"
brotli==1.0.9; python_version >= "3.6"
certifi==2021.10.8; python_version >= "3.6" and python_version < "4"
cffi==1.15.0; platform_python_implementation == "CPython"
charset-normalizer==2.0.10; python_version >= "3.6" and python_version < "4"
click==8.0.3; python_version >= "3.6"
colorama==0.4.4; python_version >= "3.6"
configargparse==1.5.3; python_version >= "3.6"
cytoolz==0.11.2; python_version >= "3.6" and implementation_name == "cpython"
dataclasses==0.8; python_version >= "3.6" and python_version < "3.7"
ecdsa==0.17.0; python_version >= "3.6" and python_version < "4"
eth-hash==0.3.2; python_version >= "3.5" and python_version < "4"
eth-keys==0.3.4; python_version >= "3.6" and python_version < "4"
eth-typing==2.3.0; python_version >= "3.6" and python_version < "4"
eth-utils==1.10.0; python_version >= "3.6"
flask-basicauth==0.2.0; python_version >= "3.6"
flask-cors==3.0.10; python_version >= "3.6"
flask==2.0.2; python_version >= "3.6"
gevent==21.12.0; python_version >= "3.6"
geventhttpclient==1.5.3; python_version >= "3.6"
greenlet==1.1.2; python_version >= "3.6" platform_python_implementation == "CPython"
idna==3.3; python_version >= "3.6" and python_version < "4"
importlib-metadata==4.8.3; python_version < "3.8" and python_version >= "3.6"
itsdangerous==2.0.1; python_version >= "3.6"
jinja2==3.0.3; python_version >= "3.6"
locust==2.6.1; python_version >= "3.6"
markupsafe==2.0.1; python_version >= "3.6"
more-itertools==8.12.0; python_version >= "3.6" and python_version < "4"
msgpack==1.0.3; python_version >= "3.6"
psutil==5.9.0; python_version >= "3.6"
py-bip39-bindings==0.1.8; python_version >= "3.6" and python_version < "4"
py-ed25519-bindings==1.0.1; python_version >= "3.6" and python_version < "4"
py-sr25519-bindings==0.1.4; python_version >= "3.6" and python_version < "4"
py==1.11.0; python_version >= "3.6" and python_full_version < "3.0.0" and implementation_name == "pypy"
pycparser==2.21; python_version >= "3.6" and python_full_version < "3.0.0" and platform_python_implementation == "CPython" and sys_platform == "win32" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_version >= "3.6") and implementation_name == "pypy" or platform_python_implementation == "CPython" and sys_platform == "win32" and (python_version >= "3.6") and implementation_name == "pypy" and python_version >= "3.6" and python_full_version >= "3.4.0"
pycryptodome==3.13.0; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4" or python_version >= "3.6" and python_version < "4" and python_full_version >= "3.5.0"
pywin32==303; sys_platform == "win32" and python_version >= "3.6"
pyzmq==22.3.0; python_version >= "3.6"
requests==2.27.1; python_full_version >= "3.6.0"
roundrobin==0.0.2; python_version >= "3.6"
scalecodec==1.0.28; python_version >= "3.6" and python_version < "4"
six==1.16.0; python_version >= "3.6" and python_version < "4"
substrate-interface @ git+https://github.com/polkascan/py-substrate-interface@master ; python_version >= "3.6" and python_version < "4"
toolz==0.11.2; python_version >= "3.5"
typing-extensions==4.0.1; python_version < "3.8" and python_version >= "3.6"
urllib3==1.26.8; python_version >= "3.6" and python_version < "4" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.6"
websocket-client==1.2.3; python_version >= "3.6" and python_version < "4"
werkzeug==2.0.2; python_version >= "3.6"
xxhash==2.0.2; python_version >= "3.6" and python_version < "4" or python_version >= "3.6" and python_version < "4" and python_full_version >= "3.3.0"
zipp==3.6.0; python_version < "3.8" and python_version >= "3.6"
zope.event==4.5.0; python_version >= "3.6"
zope.interface==5.4.0; python_version >= "3.6"
